[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
opencv-python = "*"
numpy = "*"
matplotlib = "*"
ipdb = "*"
pandas = "*"
jupyter = "*"
tensorflow = "*"
pillow = "*"
isort = "*"
scikit-learn = "*"

[requires]
python_version = "3.6"
